.principal{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.circle {
    position: absolute; /* Posicionamento absoluto em relação ao <main> */
    top: 50%; /* Centraliza verticalmente */
    left: 50%; /* Centraliza horizontalmente */
    width: 300px; /* Defina o tamanho do círculo */
    height: 300px; /* O mesmo tamanho que a largura */
    background-color: rgba(0, 150, 255, 0.5); /* Cor de fundo do círculo */
    border-radius: 50%; /* Para torná-lo um círculo */
    transform: translate(-50%, -50%); /* Centraliza o círculo exatamente no meio */
    z-index: -1; /* Coloca o círculo atrás do conteúdo */
}