@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

/* Reset de margens e preenchimentos padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: #007bff;
    --spacing-small: 8px;
}

body {
    padding-top: calc(25px + 1em);
}

.nav-link {
    font-family: 'Jost', sans-serif; /* Aplica a fonte Jost */
    font-size: 13px;
}

.informacoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.informacoes section {
    flex: 1;
    margin-right: 20px;
}

.informacoes img {
    flex-shrink: 0;
    width: 50%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .informacoes {
        flex-direction: column;
        align-items: center;
    }

    .informacoes img {
        width: 100%;
        margin-top: 20px;
    }

    .informacoes section {
        margin-right: 0;
        width: 100%;
    }
}

.navbar {
    background-color: #ffffff;
}

.nav-link {
    color: #007bff;
}

.nav-link:hover {
    color: #0056b3;
}

h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

h2 {
    color: #343a40;
    margin-bottom: 15px;
}

p {
    color: #495057;
    line-height: 1.6;
}
